pretargeting_*.previous
pretargeting_*.current
pretargeting_*.txt
audience/
*.gem
java/*.jar
config/*.yml
dump.rdb
resque/dump.rdb
public/upload_files/*
public/creative_effects/*
public/datafile/*.gz
public/datafile/*.zip
public/datafile/*.xml
public/datafile/*.txt
public/datafile/*.csv
public/datafile/*.xls
*.bak
public/csv_file/*.csv
public/csv_file/*.xls
public/xls_file/*.xls
public/csv_file/*.zip
public/xls_file/*.zip
*.marshal_dump
.bundle
db/*.sqlite3*
log/*.log
log/*.log.*
*.log
tmp/**/*
tmp/*
doc/api
doc/app
*.swp
nohup.out
*~
.DS_Store
db/schema.rb
.idea/
public/shorten_url/*/*.csv
nbproject/*
.project
.loadpath
.settings/*
lib/rtb_backend/config/database.yml
.rvmrc
